<form>
    <div class="settings-row">
        <h5>Additional Script Repositories</h5>
    </div>
    <table class="repositories table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="toggle-all" /></th>
                <th>Path</th>
            </tr>
        </thead>
    </table>
    <a href="#" class="btn trailing-gap add-dir">Add local dir...</a><a href="#" class="btn trailing-gap add-dir">Add server...</a><a href="#" class="btn remove-dir">Remove Selected</a>
</form>
