<form>
    <div class="settings-row">
        <h5>Local File System Access For Scripts</h5>
    </div>
    <table class="file-system-access table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="toggle-all" /></th>
                <th>Directory</th>
                <th>Access</th>
            </tr>
        </thead>
    </table>
    <a href="#" class="btn trailing-gap add-dir">Add Directories...</a><a href="#" class="btn remove-dir">Remove Selected</a>
</form>
