<form>
    <div class="section-modules">
        <h4>Script Execution</h4>
        <div class="settings-row">
            <label><span>Max running time (sec):</span><span><input type="text" name="script-max-running-time" /></span>
            </label>
        </div>
        <div class="settings-row">
            <label><span>Max recent items:</span><span><input type="text" name="script-max-recent-items" /></span>
            </label>
        </div>
        <div class="settings-row"><h5>Modules</h5></div>
        <table class="modules-list table-striped table-condensed">
        </table>
    </div>
</form>