<form>
    <div class="settings-row">
        <label><span>At Startup:</span><span>
            <select name="at-startup"  class="input-xlarge">
                <option label="Show startup page" value="startPage">Show startup page</option>
                <option label="Show startup page (modal)" value="startPageModal">Show startup page (modal)</option>
                <option label="Show empty environment" value="empty">Show empty environment</option>
                <!--<option label="Reload documents" value="reload">Reload documents</option>-->
            </select>
        </span>
        </label>
    </div>
    <div class="settings-row">
        <label><span>Show latest from<br />Marketplace</span><span><input type="checkbox" name="marketplace-show-latest" /></span>
        </label>
    </div>
    <div class="settings-row">
        <label><span>Marketplace feed:</span><span><input type="text" class="input-xlarge" name="marketplace-feed" /></span>
        </label>
    </div>
    <div class="settings-row">
        <label><span>Show latest blog entries</span><span><input type="checkbox" name="blog-show-latest" /></span>
        </label>
    </div>
    <div class="settings-row">
        <label><span>Blog feed:</span><span><input type="text" class="input-xlarge" name="blog-feed" /></span>
        </label>
    </div>

</form>