<form class="form-horizontal">
    <div class="settings-row">
        <label><span>Title:</span><span><input type="text" name="title" class="input-xlarge" value="{{ title }}" /></span></label>
    </div>
    <div class="settings-row">
        <label><span>Author:</span><span><input type="text" name="author" class="input-xlarge" value="{{ author }}" /></span></label>
    </div>
    <div class="settings-row">
        <label><span>Description:</span><span><textarea name="description" rows="3" class="input-xlarge">{{ description }}</textarea></span></label>
    </div>
    <div class="settings-row">
        <label><span>Version:</span><span><input type="text" name="version" class="input-xlarge" value="{{ version }}" /></span></label>
    </div>
    <div class="settings-row">
        <label><span>Required Modules:</span><span><select multiple="multiple" size="5" class="input-xxlarge" name="modules"></select><br />Click in box to select modules</span></label>
    </div>
</form>
<div class="code"></div>
