<div><label><input type="checkbox" /><span data-i18n="script.parameters_builder.condensed_format"></span></label></div>
<div class="code"></div>
<table class="table-striped table-condensed parameters-builder">
    <thead>
        <tr>
            <th data-i18n="script.parameters_builder.type"></th>
            <th data-i18n="script.parameters_builder.id"></th>
            <th data-i18n="script.parameters_builder.name"></th>
            <th data-i18n="script.parameters_builder.required"></th>
            <th>
                <div class="btn-group" style="float: left">
                    <button class="btn btn-mini trailing-gap dropdown-toggle btn-success" data-toggle="dropdown"><span data-i18n="script.parameters_builder.new"></span><span class="caret"></span></button>
                    <ul class="dropdown-menu parameter-types" role="menu">
                    </ul>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
