<div class="start-page-body">
    <div class="row-fluid">
        <div class="span6 feed marketplace-latest"></div>
        <div class="span6 feed blog-latest"></div>
    </div>
    <div>
        <form>
            <div class="settings-row">
                <label>
                    <span>At Startup:</span><span>
                        <select name="at-startup" class="input-xlarge">
                            <option label="Show startup page" value="startPage">Show startup page</option>
                            <option label="Show startup page (modal)" value="startPageModal">Show startup page (modal)</option>
                            <option label="Show empty environment" value="empty">Show empty environment</option>
                            <!--<option label="Reload documents" value="reload">Reload documents</option>-->
                        </select>
                    </span>
                </label>
            </div>
        </form>
    </div>
</div>
