<div>
    <h4 data-i18n="marketplace.publish.release_heading"></h4>
    <form class="form-inline">
        <div class="field-row">
            <div class="field-half">
                <span data-i18n="marketplace.publish.version" class="field-label"></span>
                <span class="input-small" data-field-key="version" data-type="field"></span>
            </div>
            <div class="field-half">
                <span data-i18n="marketplace.publish.release_number" class="field-label"></span>
                <span class="input-small" data-field-key="release_number" data-type="field"></span>
            </div>
        </div>
        <div class="field-row">
            <div class="field-half">
                <span data-i18n="marketplace.publish.live_from" class="field-label"></span>
                <span data-field-key="live_from" data-type="field"></span>
            </div>
            <div class="field-half">
                <span data-i18n="marketplace.publish.license" class="field-label"></span>
                <span data-field-key="license" data-type="field"></span>
            </div>
        </div>
        <div class="field-row">
            <div class="field-full">
                <span data-i18n="marketplace.publish.summary" class="field-label"></span>
                <span data-field-key="summary" data-type="field"></span>
            </div>
        </div>
        <div class="field-row">
            <div class="field-full">
                <span data-i18n="marketplace.publish.release_notes" class="field-label"></span>
                <span data-field-key="release_notes" data-type="field"></span>
            </div>
        </div>
    </form>
</div>
